@page
@model ProyectoCiclo3.App.Frontend.Pages.ListAvionesModel
@{
}
 
<h1>Listado de Aviones</h1>
<table class="table">
    @foreach (var avion in Model.Aviones)
    {
        <tr>
            <td>@avion.id</td>
            <td>@avion.marca</td>
            <td>@avion.modelo</td>
            <td>@avion.numero_banos</td>
            <td>@avion.numero_asientos</td>
            <td>@avion.capacidad_max_carga</td>
           
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-avionId="@avion.id"><i class="fas fa-adjust"></i>Editar</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>
