@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutasModel
@{
}
 
<h1>Listado de Rutas</h1>
<table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pais de Origen</th>
      <th scope="col">Pais de Destino</th>
      <th scope="col">Tiempo Estimado de Vuelo</th>
         </tr>
  </thead>
    @foreach (var ruta in Model.Rutas)
    {
        <tr>
            <td>@ruta.id</td>
            <td>@ruta.origen</td>
            <td>@ruta.destino</td>
            <td>@ruta.tiempo_estimado</td>
           
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-rutaId="@ruta.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-rutaId="@ruta.id"><i class="fas fa-adjust"></i>Editar</a>
               <form method="POST">
            <input type="number" class="form-control  d-none " id="id" name="id" placeholder="id" asp-for="@ruta.id">
              <button type="submit"class="btn btn-danger" href="">Eliminar</button>
            </form>
              </td>
        </tr>
    }
</table>
